JWT_ACCESS_SECRET="02j4Iz2eW/zokFUmWiuw+XSqQpK0QFe6963H4CgTUK4="
JWT_REFRESH_SECRET="2Luhb9IlDRr44r5ZfxUKAP6yWxRy4ku54VsHgzp6I8U="
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_pY1SdatH6qbu@ep-solitary-snow-amqdarxm-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"